<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentiment Analysis</title>
</head>
<body>
    <h1>新闻分类预测</h1>
    <form action="/predict" method="POST">
        <label for="text">Enter text:</label>
        <input type="text" id="text" name="text" required>
        <button type="submit">Submit</button>
    </form>

    {% if prediction %}
        <h3>标题: {{ text }}</h3>
        <h3>分类: {{ prediction }}</h3>
    {% endif %}
</body>
</html>
